@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

.container {
  width: 100%;
}

#app {
  height: 100vh;
}

@keyframes HighlightBackground {
  0% {
    background-color: rgb(var(--mdui-color-surface-container-highest));
  }

  50% {
    background-color: rgb(var(--mdui-color-surface-container-low));
  }

  100% {
    background-color: rgb(var(--mdui-color-surface-container-highest));
  }
}

.highlight-background-animation-running {
  animation: HighlightBackground ease-in-out 1s;
}
